body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    margin: 20px;
}
nav{
    display: flex;
    gap:20px;
    float: right;
    margin-right: 30px;   
    align-items: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87)
}
header img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}